<%- include('partials/header') %>


<header class="masthead" style="height: 100vh">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <i class="bi bi-code-slash"></i>
        <h1 class="display-3">CMRIT Student's CP Dashboard</h1>
        <p class="lead">
          Here You Can View and Compare Your Contest scores with your friends.
        </p>
        <hr />
        <a class="btn btn-light btn-lg" href="/users/register" role="button"
          >Register</a
        >
        <a class="btn btn-dark btn-lg" href="/users/leaderboard" role="button"
          >View</a
        >
      </div>
    </div>
  </div>
</header>

<%- include('partials/footer') %>
